* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

.container {
    width: 90%;
    margin: auto
}

/*start header style*/
header {
    background: url(../images/cover4.jpg);
    background-size: auto auto;
    background-size: cover;
    height: 655px;
    color: #fff;
    position: relative;
    text-align: center
}

header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
}

header .text span {
    color: #E6AC7A;
}

header .text h1 {
    margin: 70px;
    padding: 20px
}

header .text i {
    font-size: 50px;
    border-radius: 50%;
    background-color: #E6AC7A;
    padding: 6px 16px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-animation: downButton .7s infinite alternate;
    animation: downButton .7s infinite alternate;
}

@-webkit-keyframes downButton {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .8;
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }
}

@keyframes downButton {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .8;
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }
}

header .text i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/*end header style*/

/*start menu style*/
.menu .our-menu {
    background: url(../images/burger%20cover.jpg);
    background-size: cover;
    height: 175px;
    margin-top: 50px;
}

.menu .our-menu:first-of-type {
    margin: 0
}

.menu .our-menu:nth-of-type(2) {
    background-image: url(../images/pizaa%20cover.jpg);
}

.menu .our-menu:nth-of-type(3) {
    background-image: url(../images/pasta2.jpg);
}

.menu .our-menu:nth-of-type(4) {
    background-image: url(../images/cake-dessert.jpg);
}

.menu .our-menu:nth-of-type(5) {
    background-image: url(../images/drinks%20cover.jpg);
}

.menu .our-menu div {
    height: 100%;
    background-color: rgba(41, 94, 127, 0.3);
    font-size: 40px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 85px;
    cursor: pointer;
}

.menu .our-menu div h2 {
    width: 90%;
    font-weight: normal;
    letter-spacing: 0.3em;
    font-size: 45px;
}

.menu .our-menu div i {
    width: 8%;
    font-size: 75px;
}

.menu .our-food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none;
}

.menu .our-food .box {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    padding: 20px;
    margin-top: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 3px 5px 8px #E6AC7A;
    box-shadow: 3px 5px 8px #E6AC7A;
}

.menu .our-food .box .image {
    width: 100%;
    overflow: hidden;
    height: 230px;
}

.menu .our-food .box:hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.menu .our-food img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 2s;
    transition: all 2s;
    cursor: cell;
}

.menu .our-food .text {
    line-height: 1.9;
}

.menu .our-food .text h3 {
    font-weight: normal;
}

.menu .our-food .text div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .our-food .text div span {
    color: #E6AC7A;
    font-size: 20px;
}

.menu .our-food .text button {
    background: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding: 10px 20px;
    border: 2px solid #E6AC7A;
    cursor: pointer;
    font-size: 16px;
}

.menu .our-food .text button i {
    content: "\f058";
    font-size: 20px;
    padding-left: 7px;
    color: #e6ac7a;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: none
}

.menu .our-food .text button:hover {
    background: #E6AC7A;
    color: #fff;
}

.menu .our-food .text button:hover i {
    color: #fff;
}

/*popup*/
.food-popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.food-popup .image {
    width: 65%;
    margin: auto;
    position: relative;
}

.food-popup .image img {
    width: 100%;
    height: 100%;
}

.food-popup .image h3 {
    font-size: 30px;
    letter-spacing: 6px;
    background-color: #E6AC7A;
    margin-top: -4px;
}

.food-popup .image i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 35px;
    cursor: pointer;
}

/*shopping-cart style*/
.shopping-cart-content {
    line-height: normal;
    background: #fff;
    padding: 20px;
    width: 350px;
    max-height: 507px;
    overflow: hidden;
    position: absolute;
    top: 80px;
    right: 45px;
    display: none;
    color: black;
    overflow: auto;
    font-size: 14px;
    z-index: 1;
}

.shopping-cart-content ul li {
    overflow: hidden;
    padding: 13px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.shopping-cart-content ul li:last-child {
    border: 0;
}

.shopping-cart-content ul li .item-shopping-cart-content-img {
    width: 20%;
    float: left;
}

.shopping-cart-content ul li .item-shopping-cart-content-img img {
    width: 100%;
}

.shopping-cart-content ul li .info-shopping-cart-item {
    width: 75%;
    float: right;
}

.shopping-cart-content ul li .info-shopping-cart-item .nam-prc {
    width: 65%;
    float: left;
}

.shopping-cart-content ul li .info-shopping-cart-item .nam-prc span {
    display: block;
    margin: 5px 0 10px;
    font-family: 'Kaushan Script', cursive;
}

.shopping-cart-content ul li .info-shopping-cart-item .nam-prc span strong {
    font-weight: lighter;
}

.shopping-cart-content ul li .info-shopping-cart-item .nam-prc .name-item {
    color: #E6AC7A;
    font-family: 'Oxygen', sans-serif;
}

.shopping-cart-content ul li .info-shopping-cart-item .qty-remove {
    width: 35%;
    float: right;
}

.shopping-cart-content ul li .info-shopping-cart-item .qty-remove input {
    display: block;
    margin: 0px 0 10px;
    padding: 5px;
    width: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: lighter;
    color: #6b6b6b;
    text-align: center;
    outline: none;
    border: 1px solid #ccc;
}

.shopping-cart-content ul li .info-shopping-cart-item .qty-remove i {
    float: right;
    font-size: 17px;
    cursor: pointer;
}

.navbar .shopping-cart-content ul li .info-shopping-cart-item .qty-remove i:hover {
    color: #E6AC7A;
}

.shopping-cart-content ul .subtotal {
    background: #eee;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.shopping-cart-content ul .subtotal span {
    color: #bd6920;
}

.shopping-cart-content ul a {
    text-align: center;
    display: block;
    width: 150px;
    margin: 20px auto 0;
    color: #fff;
    background: #292929;
    padding: 10px;
    font-size: 17px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.shopping-cart-content ul a:hover {
    background: #E6AC7A;
}
/*end of shopping-cart style*/